<launch>

  <arg name="use_map_topic" default="false"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  <!-- See https://github.com/IntelRealSense/realsense-ros and-->
  <!-- <arg name="enable_sync"               default="false"/> -->
    <arg name="enable_sync"               value="true"/>
    <!-- <arg name="align_depth"               default="false"/> -->
    <arg name="align_depth"         value="true"/>
    <arg name="depth_width"         value="640"/>
    <arg name="depth_height"        value="480"/>
    <arg name="enable_depth"        value="true"/>

    <arg name="color_width"         value="640"/>
    <arg name="color_height"        value="480"/>
    <arg name="enable_color"        value="true"/>

    <arg name="depth_fps"           value="30"/>
    <arg name="color_fps"           value="30"/>


    <arg name="infra_width"         value="640"/>
    <arg name="infra_height"        value="480"/>
    <arg name="enable_infra"        value="true"/>
    <arg name="enable_infra1"       value="true"/>
    <arg name="enable_infra2"       value="true"/>

    <arg name="enable_gyro"         value="true"/>
    <arg name="enable_accel"        value="true"/>

    <arg name="unite_imu_method"      value="linear_interpolation"/>


    <arg name="filters"             value="decimation, disparity, spatial, temporal, hole_filling"/>

  </include>

    <!-- rosrun rqt_reconfigure rqt_reconfigure -->
    <!-- rosparam set /camera/stereo_module/emitter_enabled 0 -->
    <arg name="emitter_enable"     default="false"/>
    <rosparam>
      /camera/stereo_module/emitter_enabled: 0
    </rosparam>
    <rosparam if="$(arg emitter_enable)">
      /camera/stereo_module/emitter_enabled: 1
    </rosparam>

  <node pkg="tf" type="static_transform_publisher" name="camera_lidar_link" args="0.02 0 0 0 0 0 1 ouster_holder_base_link camera_link 100" /> 

</launch>
